<html ng-app="MyApp" lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.css">
  <!-- https://google.github.io/material-design-icons/ -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.js"></script>
  
  <script src="https://www.gstatic.com/firebasejs/3.6.3/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

<style>
.full_screen {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.avatar {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
  border: 1px solid #fff;
}
</style>
<script>
// Initialize Firebase
var config = {
  apiKey: "AIzaSyANZVvVSiDmZ5REeutNi1QXC40B4l1cbM0",
  authDomain: "ronnyg-e8cb3.firebaseapp.com",
  databaseURL: "https://ronnyg-e8cb3.firebaseio.com",
  storageBucket: "ronnyg-e8cb3.appspot.com",
  messagingSenderId: "371094523373"
};
firebase.initializeApp(config);

angular.module('MyApp', ['ngMaterial', 'ngRoute', 'firebase'])
.run(['$rootScope', "$firebaseAuth", "$firebaseObject",
function ($rootScope, $firebaseAuth, $firebaseObject) {
  var authObj = $firebaseAuth();
  authObj.$onAuthStateChanged(function(user) {
    if (user) {
      // user has: uid, photoURL, displayName
      console.log("Signed in as:", user);
      $rootScope.user = user;
      var ref = firebase.database().ref('/user/' + user.uid);
      var data = $firebaseObject(ref);
      $rootScope.userData = data;
      data.$bindTo($rootScope, "userData");
    } else {
      console.log("Signed out");
    }
  });

  $rootScope.googleLogin = function () {
    authObj.$signInWithPopup("google").catch(function(error) {
      console.error("Authentication failed:", error);
    });
  };
}]);
</script>
  
</head>
<body ng-cloak>
  <div ng-if="!user">
    <md-button ng-click="googleLogin()">
      Sign in with Google
    </md-button>
  </div>
  <div class="full_screen" ng-if="user">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <img ng-src="{{user.photoURL}}"
                  alt="Your avatar" 
                  class="avatar">
        <h3>Hi {{user.displayName}}!</h3>
      </div>
    </md-toolbar>
    <md-content layout-padding>
      <!-- see examples: https://material.angularjs.org/latest/demo/input -->
      <form name="userForm">
        <md-input-container>
          <label>Company</label>
          <input ng-model="userData.company">
        </md-input-container>

        <md-input-container>
          <label>Another field</label>
          <input ng-model="userData.blablabla">
        </md-input-container>
      </form>
    </md-content>
  </div>
</body>
</html>
